select,
input {
  font-size: 1rem;
  height: 1.8rem;
  margin-left: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-family: Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border: none;
}
